/*{border: 1px solid;}*/

header{ 
    height:70px; 
    background-color: #5EB916;
    background-image: url(../img/sombra_03.png);
    padding: 0px 0px 0px 0px;
    display: flex; 
    justify-content: left;  
}
header nav{
    display: flex; 
    justify-content: left;  
}
#enlaces{ width:100%; height: auto; margin:0;}
#enlaces ul{
    list-style-type:none ; 
    width:49%; 
    text-align:left; 
    display: flex; 
    justify-content: center;  
}

#enlaces ul li{
    display:inline-block; 
    width: auto; 
    font-family: montserrat; 
    box-sizing: border-box; 
    margin:auto;
}

#research-interest {
    border-color: #5EB916 
    display: flex; 
    justify-content: center; 
}
#research-interest div{
    margin: auto;
    border-style: groove;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-width: thin;
    border-color: #5EB916;
    
    padding:0% 40px 2% 40px;
}

section{
    display: inline-block;
}
#foto{
    border-radius:150px;
}


#izquierda{
    float: left;
    width:49%;
    text-align: center;
}
#derecha{
    width: 50%;
    float: right;
    box-sizing: content-box;
}
@font-face{
	font-family:montserrat;
	font-style:normal;
	font-weight: normal;
	src:url(../fonts/Montserrat-Bold.otf);
}
@font-face{
	font-family:displayLight;
	font-style:normal;
	font-weight: normal;
	src:url(../fonts/sf-ui-display-light.otf);
}
h2 {
    font-size: 70px;
    font-family: montserrat;
    color: #5EB916;
}
h3 {
    font-size: 20px;
    font-family: displaylight;
}
p {
    height: auto;
    font-family: displayLight;
}


body{margin:auto;}

.colorweb{Background-color:#5EB916;}

A{color:white; text-decoration:none;}




