@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;450;500;600;700;900&display=swap');
html{
    font-family: 'Inter', sans-serif !important;
}
body{
    padding-top: 1vh;
    height: 100vh;
}

header{
    display: grid;
    grid-template-columns: 15% 85%;
    border-bottom: 1px solid #dddddd;
}

.desplegables a{
    color: black !important;
    font-weight: 400;
}

.desplegables > ul {
    padding: 0 12px;
}

.desplegables{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.diapos{
    width: 75%;
}

.diapos img{
    height: 80vh;
    position:relative;
}

.hiddenHelp{
    display: none;
}

a{
    text-decoration: none;
    color: #3A6EA5;
    font-weight: 600;
}
/*
Paleta de colores: https://coolors.co/palette/ff6700-ebebeb-c0c0c0-3a6ea5-004e98
*/

aside{
    position: relative;
}
aside svg{
    width: 35px;
}

.ayuda{
    border-radius: 150px;
    position: absolute;
    bottom: 1vh;
    left: 80vw;
    font-weight: 900;
    font-size: larger !important;
}