.contenedor{
    display: grid;
    grid-template-rows: 80px auto;
}

#logo{
    height: 75px;
    justify-self: center;
}

header nav{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

nav > div {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}


nav > div:first-child {
    justify-content: space-between;
}

nav> div > div> a {
    text-decoration: none;
    color: inherit;
    padding: 0 10px;
    color: #004E98;
    font-weight: 500;
}

nav> div > div> a:hover {
    text-decoration: underline;
    color: #004E98;
}

.cuadroTexto{
    position: absolute;
    width: 350px;
    height: 350px;
    background-color: #ebebebcc;
    bottom: 50px;
    right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cuadroTexto > div {
    width: 75%;
}

h3{
    font-weight: 700;
    color: #3A6EA5;
}